.about .coverimage {
  margin: auto;
  width: 800px;
  height: 100%;
}

.about .coverimage img {
  width: 100%;
  height: 100%;
}

.about .sec-title {
  display: flex;
  margin-top: 20px;
  text-align: center;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.about .sec-title.text-center h1:after {
  left: 50%;
  transform: translateX(-50%);
}

.about .sec-title h1:after {
  height: 4px;
}
.about .sec-title h1:after {
  content: "";
  position: absolute;
  left: 55px;
  bottom: -15px;
  height: 3px;
  width: 100px;
  background: #a32306;
}

.about .sec-title h1 {
  position: relative;
  font-size: 36px;
  font-weight: 500;
  line-height: 1.3;
}

.about .sec-title h2 {
    margin-top: 1rem;
  width: 900px;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.3;
}

.about .about-supporting-text {
  background-color: #fff;
  padding: 50px 20px 40px;
  position: relative;
}

.about .about-supporting-text h3 {
  width: 900px;
  font-size: 25px;
  font-weight: 500;
  line-height: 1.3;
}

@media (min-width: 1024px) {
  .about .about-supporting-text {
    padding: 90px 20px 80px;
  }
}

.about .items {
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
}

.about .item {
  margin-bottom: 10px;
}

@media (min-width: 1024px) {
  .about .item {
    margin-bottom: 20px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
  }
}

.about .item:last-child {
  margin-bottom: 0;
  padding-bottom: 0;
  border: none;
}

.about .heading-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}

@media (min-width: 1024px) {
  .about .heading-container {
    width: 30%;
    flex-shrink: 0;
  }
}

@media (min-width: 1024px) {
  .about .heading {
    white-space: nowrap;
  }
}

.about .description {
  margin-top: 20px;
}

@media (min-width: 1024px) {
  .about .description {
    margin-top: 0;
    margin-left: 30px;
  }
}
