/* Sticks footer to bottom */
.footer-container {
  padding-top: 3rem;
  display: flex;
  flex-direction: column;
}

.footer-container ul {
  list-style: none;
  padding-left: 0;
}

.footer-container .footer {
  background-color: #a32306;
  color: #bbb;
  line-height: 1.5;
}
.footer-container .footer a {
  text-decoration: none;
  color: #eee;
}
.footer-container a:hover {
  text-decoration: underline;
}
.footer-container .ft-title {
  color: #fff;
  font-family: "Merriweather", serif;
  font-size: 1.375rem;
  padding-bottom: 0.625rem;
}

.footer-container .container {
  flex: 1;
}
/* Footer main */
.footer-container .ft-main {
  padding: 1.25rem 1.875rem;
  display: flex;
  flex-wrap: wrap;
}
@media only screen and (min-width: 29.8125rem /* 477px */) {
  .footer-container .ft-main {
    justify-content: space-evenly;
  }
}
@media only screen and (min-width: 77.5rem /* 1240px */) {
  .footer-container .ft-main {
    justify-content: space-evenly;
  }
}
.footer-container .ft-main-item {
  padding: 1.25rem;
  min-width: 12.5rem;
}

/* Footer main | Newsletter form */
.footer-container form {
  display: flex;
  flex-wrap: wrap;
}
.footer-container input[type="email"] {
  border: 0;
  padding: 0.625rem;
  margin-top: 0.3125rem;
}
.footer-container input[type="submit"] {
  background-color: #e5b94c;
  color: #fff;
  cursor: pointer;
  border: 0;
  padding: 0.625rem 0.9375rem;
  margin-top: 0.3125rem;
}
/* Footer social */
.footer-container .ft-social {
  padding: 0 1.875rem 1.25rem;
}
.footer-container .ft-social-list {
  display: flex;
  justify-content: center;
  border-top: 1px #777 solid;
  padding-top: 1.25rem;
}
.footer-container .ft-social-list li {
  margin: 0.5rem;
  font-size: 1.25rem;
}
/* Footer legal */
.footer-container .ft-legal {
  padding: 0.9375rem 1.875rem;
  background-color: #e5b94c;
}
.footer-container .ft-legal-list {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}
.footer-container .ft-legal-list li {
  margin: 0.125rem 0.625rem;
  white-space: nowrap;
}
/* one before the last child */
.footer-container .ft-legal-list li:nth-last-child(2) {
  flex: 1;
}
