/* 
#A32306
Yellow Color Code #E5B94C
*/

.main {
  position: fixed;
  z-index: 1000;
  left: 0;
  right: 0;
  top: 0;
  height: 80px;
  padding: 0 20px;
  transition: opacity 0.3s ease;
  transition-delay: 0.5s;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  /* box-shadow: 2px 2px 2px 1px rgb(229, 185, 76, 90%); */
}

.notransparentnohome {
  background-color: rgba(255, 255, 255, 0.9);
}

.notransparent {
  background-color: rgb(229, 185, 76, 90%);
}

#header img {
  margin-top: 4rem;
  margin-left: 1rem;
  width: 70px;
  height: 125px;
  border-radius: 10px;
  padding: 1px;
  filter: drop-shadow(3px 5px 7px rgb(163, 35, 6));
}

.navbar {
  font-size: 1.2rem;
  width: 800px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.navbar a {
  display: inline-block;
  position: relative;
  color: black;
  text-decoration: none;
}

.navbar a:after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: -5px;
  left: 0;
  background-color: #a32306;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.navbar a.active:after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(1);
  height: 2px;
  bottom: -5px;
  left: 0;
  background-color: #a32306;
}

.navbar a:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}
